@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Курсовой проект по дисциплине</h1>
    <h2>"Методы и средства проектирования информационных систем и технологий"</h2>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Тема работы</h2>
        <p>
            Информационная система регистрации и учета инцидентов в деятельности предприятия.
        </p>
    </div>

    <div class="col-md-4">
        <h2>Функции информационной системы</h2>
        <p>
            <ol>
                <li>Предоставление информации об инциденте аудиторам;</li>
                <li>Возможность добавлять запись о новом инциденте;</li>
                <li>Предоставление возможности редактировать существующие записи;</li>
                <li>Ограничение количества возможных правок.</li>
            </ol>

        </p>
    </div>

    
    <div class="col-md-4">
        <h2>Технические детали</h2>
        <p>Веб-приложение создано на базе ASP.Net Core Framework.</p>
        <p><a class="btn btn-default" target="_blank" href="https://github.com/CoderLiQ/MISPIS-LAB">Ссылка на репозиторий &raquo;</a></p>
    </div>
</div>